.jumbotron {
    position: relative;
    width: 100%;
    padding-top: 0px;
    padding: 0px;
    margin-bottom: 30px;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.parallax-mainpage {
    background: url("../img/neuron.png");
    min-height: 620px;
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 100%;
}

.inputMic {
    float: right;
    margin-right: 6px;
    margin-top: -28px;
    position: relative;
    z-index: 2;
    font-size: 25px;
}