<!DOCTYPE html>
<html>

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Y.A.R.A.</title>

    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Porto - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <link rel="shortcut icon" href="static/img/favicon.ico" type="image/x-icon"/>
    <link rel="apple-touch-icon" href="static/img/apple-touch-icon.png">

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CSintony:400,700" rel="stylesheet"
          type="text/css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/vendor/animate/animate.min.css">
    <link rel="stylesheet" href="static/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="static/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="static/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="static/vendor/magnific-popup/magnific-popup.min.css">

    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/styles-elements.css">
    <link rel="stylesheet" href="static/css/styles-blog.css">
    <link rel="stylesheet" href="static/css/styles-shop.css">

    <link rel="stylesheet" href="static/vendor/rs-plugin/css/settings.css">
    <link rel="stylesheet" href="static/vendor/rs-plugin/css/layers.css">
    <link rel="stylesheet" href="static/vendor/rs-plugin/css/navigation.css">

    <link rel="stylesheet" href="static/css/skins/yara-styles.css">

    <link rel="stylesheet" href="static/css/demos/demo-business-consulting.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"/>

     <!--<link rel="stylesheet" href="css/custom.css">-->

    <script src="static/vendor/modernizr/modernizr.min.js"></script>

</head>

<body>

<div class="body">
    <header id="header"
            class="header-narrow header-semi-transparent header-transparent-sticky-deactive custom-header-transparent-bottom-border"
            data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 1, 'stickySetTop': '1'}">
        <div class="header-body">
            <div class="header-container container">
                <div class="header-row">
                    <div class="header-column">
                        <div class="header-logo">
                            <a href="/">
                                YARA
                            </a>
                        </div>
                    </div>
                    <div class="header-column">
                        <div class="header-row">
                            <div class="header-nav header-nav-dark-dropdown">
                                <button class="btn header-btn-collapse-nav" data-toggle="collapse"
                                        data-target=".header-nav-main">
                                    <i class="fa fa-bars"></i>
                                </button>
                                <div class="header-nav-main header-nav-main-square custom-header-nav-main-effect-1 collapse">
                                    <nav>
                                        <ul class="nav nav-pills" id="mainNav">
                                            <li class="active">
                                                <a href="/">
                                                    Home
                                                </a>
                                            <li>
                                                <a href="#meetyara">
                                                    Meet Yara
                                                </a>
                                            </li>
                                            </li>
                                            <li>
                                                <a href="#ourPlatform">
                                                    Platform
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#features">
                                                    Features
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/demo">
                                                    Try Demo
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/demo#betasignup">
                                                    Sign Up
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div role="main" class="main">

        <div class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="item active">
                    <div style="background-image: url(' static/img/aimath5.jpg'); background-position: center; background-size:cover; width: 100vw; height: 100vh; display: flex; justify-content: center; flex-flow: column">
                        <div style="padding-left: 10%">
                            <h1 class="tp-caption custom-secondary-font font-weight-bold text-color-light"
                                style="margin: 0">Your Personal
                                A.I.</h1>
                            <div class="tp-caption custom-secondary-font font-weight-bold text-color-light"
                                 style="font-size: 42px; visibility: inherit; transition: none; text-align: inherit;
                             line-height: 1.1em; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px;
                             min-height: 0px; min-width: 0px; max-height: none; max-width: none;
                              opacity: 1;">
                                Wealth Management Platform
                            </div>
                            <div style="padding: 32px 0">
                                <div class="tp-mask-wrap" style="display: inline-block; overflow: visible;">
                                    <a href="/demo"
                                       class="btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius"
                                       style="font-size: 12px; padding: 11px 30px; visibility: inherit; transition: none; text-align: inherit;
                               line-height: 1.1em; border-width: 1px; margin: 0px; letter-spacing: 0px; font-weight: 400;
                               min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1;">
                                        Try Demo</a>
                                </div>
                                <div class="tp-mask-wrap" style="display: inline-block; overflow: visible;">
                                    <a href="/demo#betasignup" style="background-color: red; border-color: red; visibility: inherit; transition: none;
                            text-align: inherit; line-height: 1.1em; border-width: 1px; margin: 0px; padding: 11px 30px; letter-spacing: 0px; font-weight: 400;
                            font-size: 14px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1;"
                                       class="btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius">Sign
                                        Up</a>
                                </div>
                            </div>
                            <div>
                                <h1 class="tp-caption custom-secondary-font font-weight-bold text-color-light" style="font-size: 32px; visibility: inherit;
                            transition: none; text-align: inherit; line-height: 1.1em; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: -1px;
                            min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1;">First 100
                                    people to sign up for beta will receive Yara free for 6 months!</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section-secondary custom-section-padding" id="meetyara">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="font-weight-bold text-color-dark">- Meet Yara</h2>
                    <div class="col-sm-4 col-md-10">
                                <h4 class=" text-color-dark">Yara is your A.I. wealth manager at the palm of your hand. <br><br>YARA stands for Your Asset & Risk Automation.
                                    Yara is your virtual financial manager for all of your investments. You can text it, speak to it, and have it use artificial intelligence
                                    to automatically empower you to better manage your investments.</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <img src="../static/img/Anlysis_Text_Resize.png" style="width: 100%;">
                </div>
            </div>
        </div>
    </section>

    <section class="about-us custom-section-padding" id="ourPlatform">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <h2 class="font-weight-bold text-color-dark">- Our Platform</h2>
                    <p class="pl-lg">Yara is able to analyze your entire portfolio, provide unbiased recommendations
                                for improvements, and learn from your preferred investment style to source opportunities
                                accordingly. You can finally sleep well at night feeling like you’ve got a smart system constantly
                                monitoring your portfolio and working for you and your monty 24/7 (Yara never sleeps).
                    </p>
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-style-3 list-tertiary">
                            <li><i class="fa fa-chevron-right"></i> Wealth Management</li>
                            <li><i class="fa fa-chevron-right"></i> Trading</li>
                            <li><i class="fa fa-chevron-right"></i> Analysis</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list list-icons list-icons-style-3 list-tertiary">
                            <li><i class="fa fa-chevron-right"></i> Machine Learning</li>
                            <li><i class="fa fa-chevron-right"></i> Voice & Text Recognition</li>
                            <li><i class="fa fa-chevron-right"></i> 24/7 Availability</li>
                        </ul>
                    </div>
                    <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase"
                       href="#features">Read More</a>
                    <!--<a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase"-->
                       <!--href="/demo"-->
                       <!--title="treydemo">Try Demo</a>-->
                    <!--<a style="background-color: red; border-color:red;"-->
                       <!--class="btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius"-->
                       <!--href="/demo#betasignup"-->
                       <!--title="treydemo">Sign Up</a>-->
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="content-grid custom-content-grid mt-xlg mb-lg">
                        <div class="row content-grid-row">
                            <div class="content-grid-item col-md-6 background-color-light">
                                <div class="counters">
                                    <div class="counter custom-sm-counter-style">
                                        <img class="counter-icon"
                                             src="static/img/business/business-consulting/icons/icon-1.png" alt/>
                                        <strong class="text-color-primary custom-primary-font" data-to="85"
                                                data-append="+">0</strong>
                                        <label>Beta Sign Ups</label>
                                    </div>
                                </div>
                            </div>
                            <div class="content-grid-item col-md-6">
                                <div class="counters">
                                    <div class="counter margin-style-2 custom-sm-counter-style">
                                        <img class="counter-icon"
                                             src="static/img/business/business-consulting/icons/icon-2.png" alt/>
                                        <strong class="text-color-primary custom-primary-font" data-to="500"
                                                data-append="+">0</strong>
                                        <label>Trades Completed</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row content-grid-row">
                            <div class="content-grid-item col-md-6">
                                <div class="counters">
                                    <div class="counter custom-sm-counter-style">
                                        <img class="counter-icon"
                                             src="static/img/business/business-consulting/icons/icon-3.png" alt/>
                                        <strong class="text-color-primary custom-primary-font" data-to="250"
                                                data-append="+">0</strong>
                                        <label>Minds Read</label>
                                    </div>
                                </div>
                            </div>
                            <div class="content-grid-item col-md-6 background-color-light">
                                <div class="counters">
                                    <div class="counter margin-style-2 custom-sm-counter-style">
                                        <img class="counter-icon"
                                             src="static/img/business/business-consulting/icons/icon-4.png" alt/>
                                        <strong class="text-color-primary custom-primary-font" data-to="930000"
                                                data-append="">0</strong>
                                        <label>Dollars Invested</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-secondary custom-section-padding" id="features">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="font-weight-bold text-color-dark mb-md">- What our System Does</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--<a href="#" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="0">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/wealthmanagement-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">Wealth Management</h4>
                            <p>Yara will constantly monitor your portfolio and make improvements.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <!--<a href="#" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="100">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/trading-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">Trading</h4>
                            <p>Through voice and text, you can tell Yara to trade for you (e.g. "Buy 10 shares of
                                Apple").</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <!--<a href="#" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="200">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/analysis-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">Analysis</h4>
                            <p>Get real-time analysis of your portfolio sent to your mobile device.</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <!--<a href="" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="300">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/machinelearning-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">Machine Learning</h4>
                            <p>Yara is a system that will learn your portfolio and make decisions tailored for you.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <!--<a href="" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="400">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/voiceandtext-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">Voice & Text Recognition</h4>
                            <p>Interact with Yara through text or just simply speaking into your microphone.</p>
                        </div>
                    </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <!--<a href="#" class="text-decoration-none appear-animation" data-appear-animation="fadeInUp" data-appear-animation-delay="500">-->
                    <div class="feature-box custom-feature-box feature-box-style-2">
                        <div class="feature-box-icon">
                            <img src="static/img/247availability-small.jpg" alt="">
                        </div>
                        <div class="feature-box-info ml-md">
                            <h4 class="font-weight-normal text-lg">24/7 Availability</h4>
                            <p>Yara is available and working 24/7 to answer questions and to monitor your portfolio.</p>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 center">
                    <a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase"
                       href="/demo"
                       title="treydemo">Try Demo</a>
                    <a style="background-color: red; border-color:red;"
                       class="btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius"
                       href="/demo#betasignup"
                       title="treydemo">Sign Up</a>
                </div>
                <!--btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius-->
            </div>
        </div>
    </section>



    <!--<section class="custom-section-padding" id="team">-->
        <!--<div class="container">-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<h2 class="font-weight-bold text-color-dark">- Our Team</h2>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-12">-->
                    <!--<div class="team-carousel">-->
                        <!--<div>-->
                            <!--<a href="https://www.linkedin.com/in/bobbykatoli/" class="text-decoration-none">-->
                            <!--<span class="image-wrapper">-->
                                <!--<img src="static/img/Bobby_Katoli.jpg" alt="" class="img-responsive"/>-->
                            <!--</span>-->
                            <!--</a>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a href="https://www.linkedin.com/in/sanjay-gulati-9a582a3a/"-->
                               <!--class="text-decoration-none">-->
                                <!--<span class="image-wrapper">-->
                                    <!--<img src="static/img/Sanjay_Gulati.jpg" alt=""-->
                                         <!--class="img-responsive"/>-->
                                <!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="https://www.facebook.com/sanjay.gulati88?fref=ts"-->
                                           <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="https://www.linkedin.com/in/sanjay-gulati-9a582a3a/"-->
                                           <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Sanjay Gulati</span>-->
                                    <!--<span class="team-member-desc font-weight-light">CFO</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a href="https://www.linkedin.com/in/danielstallworth/" class="text-decoration-none">-->
                                <!--<span class="image-wrapper">-->
                                    <!--<img src="static/img/Daniel_Stallworth.jpg"-->
                                         <!--alt=""-->
                                         <!--class="img-responsive"/>-->
                                <!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="https://www.facebook.com/danieljs?fref=ts"-->
                                           <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="https://www.linkedin.com/in/danielstallworth/"-->
                                           <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Daniel Stallworth</span>-->
                                    <!--<span class="team-member-desc font-weight-light">Software Architect</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<a href="https://www.linkedin.com/in/austin-akers-b1966765/"-->
                               <!--class="text-decoration-none">-->
                <!--<span class="image-wrapper">-->
                    <!--<img src="static/img/Austin_Akers.jpg" alt=""-->
                         <!--class="img-responsive"/>-->
                <!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="https://www.facebook.com/austin.akers.90?fref=ts"-->
                                           <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="https://www.linkedin.com/in/austin-akers-b1966765/"-->
                                           <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Austin Akers</span>-->
                                    <!--<span class="team-member-desc font-weight-light">Software Architect</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="owl-carousel show-nav-title custom-dots-style-1 custom-dots-position custom-xs-arrows-style-2 mb-none"-->
                         <!--data-plugin-options="{'items': 4, 'autoHeight': false, 'loop': false, 'nav': false, 'dots': true}">-->
                        <!--<div>-->
                            <!--<div class="team-item">-->
                                <!--<a href="https://www.linkedin.com/in/bobbykatoli/" class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Bobby_Katoli.jpg" alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                                <!--</a>-->
                                <!--<div class="team-infos">-->
                                    <!--<div class="share">-->
                                        <!--<i class="fa fa-share-alt"></i>-->
                                        <!--<div class="share-icons background-color-light">-->
                                            <!--<a href="https://www.facebook.com/people/Bobby-Katoli/100006997964645"-->
                                               <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                    <!--class="fa fa-facebook"></i></a>-->
                                            <!--<a href="https://www.linkedin.com/in/bobbykatoli/"-->
                                               <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                    <!--class="fa fa-linkedin"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                        <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Bobby Katoli</span>-->
                                        <!--<span class="team-member-desc font-weight-light">CEO</span>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<div class="team-item">-->
                                <!--<a href="https://www.linkedin.com/in/sanjay-gulati-9a582a3a/"-->
                                   <!--class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Sanjay_Gulati.jpg" alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                                <!--</a>-->
                                <!--<div class="team-infos">-->
                                    <!--<div class="share">-->
                                        <!--<i class="fa fa-share-alt"></i>-->
                                        <!--<div class="share-icons background-color-light">-->
                                            <!--<a href="https://www.facebook.com/sanjay.gulati88?fref=ts"-->
                                               <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                    <!--class="fa fa-facebook"></i></a>-->
                                            <!--<a href="https://www.linkedin.com/in/sanjay-gulati-9a582a3a/"-->
                                               <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                    <!--class="fa fa-linkedin"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                        <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Sanjay Gulati</span>-->
                                        <!--<span class="team-member-desc font-weight-light">CFO</span>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<div class="team-item">-->
                                <!--<a href="https://www.linkedin.com/in/danielstallworth/" class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Daniel_Stallworth.jpg"-->
                                                                             <!--alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                                <!--</a>-->
                                <!--<div class="team-infos">-->
                                    <!--<div class="share">-->
                                        <!--<i class="fa fa-share-alt"></i>-->
                                        <!--<div class="share-icons background-color-light">-->
                                            <!--<a href="https://www.facebook.com/danieljs?fref=ts"-->
                                               <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                    <!--class="fa fa-facebook"></i></a>-->
                                            <!--<a href="https://www.linkedin.com/in/danielstallworth/"-->
                                               <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                    <!--class="fa fa-linkedin"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                        <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Daniel Stallworth</span>-->
                                        <!--<span class="team-member-desc font-weight-light">Software Architect</span>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div>-->
                            <!--<div class="team-item">-->
                                <!--<a href="https://www.linkedin.com/in/austin-akers-b1966765/"-->
                                   <!--class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Austin_Akers.jpg" alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                                <!--</a>-->
                                <!--<div class="team-infos">-->
                                    <!--<div class="share">-->
                                        <!--<i class="fa fa-share-alt"></i>-->
                                        <!--<div class="share-icons background-color-light">-->
                                            <!--<a href="https://www.facebook.com/austin.akers.90?fref=ts"-->
                                               <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                    <!--class="fa fa-facebook"></i></a>-->
                                            <!--<a href="https://www.linkedin.com/in/austin-akers-b1966765/"-->
                                               <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                    <!--class="fa fa-linkedin"></i></a>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                        <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Austin Akers</span>-->
                                        <!--<span class="team-member-desc font-weight-light">Software Architect</span>-->
                                    <!--</a>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="team-item">-->
                            <!--<a href="https://www.linkedin.com/in/roberto-torres-52111879/" class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Roberto_Torres.jpg" alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="https://www.facebook.com/rotorreslu?fref=ts"-->
                                           <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="https://www.linkedin.com/in/roberto-torres-52111879/"-->
                                           <!--class="text-decoration-none" title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Roberto Torres</span>-->
                                    <!--<span class="team-member-desc font-weight-light">Advisor</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="team-item">-->
                            <!--<a href="https://www.linkedin.com/in/carldorvil/" class="text-decoration-none">-->
                    												<!--<span class="image-wrapper">-->
                    													<!--<img src="static/img/Carl_Dorvil.jpg" alt=""-->
                                                                             <!--class="img-responsive"/>-->
                    												<!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="https://www.facebook.com/carl.dorvil?fref=ts"-->
                                           <!--class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="https://www.linkedin.com/in/carldorvil/" class="text-decoration-none"-->
                                           <!--title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Carl Dorvil</span>-->
                                    <!--<span class="team-member-desc font-weight-light">Advisor</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                        <!--<div class="team-item">-->
                            <!--<a href="/" class="text-decoration-none">-->
                                <!--<span class="image-wrapper">-->
                                    <!--<img src="static/img/business/business-consulting/team/team-1.jpg"-->
                                         <!--alt=""-->
                                         <!--class="img-responsive"/>-->
                    		    <!--</span>-->
                            <!--</a>-->
                            <!--<div class="team-infos">-->
                                <!--<div class="share">-->
                                    <!--<i class="fa fa-share-alt"></i>-->
                                    <!--<div class="share-icons background-color-light">-->
                                        <!--<a href="" class="text-decoration-none" title="Share on Facebook"><i-->
                                                <!--class="fa fa-facebook"></i></a>-->
                                        <!--<a href="" class="text-decoration-none" title="Share on Linkedin"><i-->
                                                <!--class="fa fa-linkedin"></i></a>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<a href="demo-business-consulting-team-detail.html" class="text-decoration-none">-->
                                    <!--<span class="team-member-name text-color-dark font-weight-semibold text-md">Jane Doe</span>-->
                                    <!--<span class="team-member-desc font-weight-light">Join Our Team!</span>-->
                                <!--</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                        <!--<div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<div class="col-md-12 center">-->
                    <!--<a class="btn btn-borders custom-border-width btn-primary custom-border-radius font-weight-semibold text-uppercase"-->
                       <!--href="/demo"-->
                       <!--title="treydemo">Try Demo</a>-->
                    <!--<a style="background-color: red; border-color:red;"-->
                       <!--class="btn btn-primary tp-caption text-uppercase text-color-light custom-border-radius"-->
                       <!--href="/demo#betasignup"-->
                       <!--title="treydemo">Sign Up</a>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</section>-->
<!--</div>-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 center">
                <p>2017 © <span class="text-color-light">Y.A.R.A.</span> - Copyright All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</footer>

</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="static/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="static/vendor/common/common.min.js"></script>
<script src="static/vendor/jquery.easy-pie-chart/jquery.easy-pie-chart.min.js"></script>
<script src="static/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="static/vendor/jquery.lazyload/jquery.lazyload.min.js"></script>
<script src="static/vendor/isotope/jquery.isotope.min.js"></script>
<script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="static/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="static/vendor/vide/vide.min.js"></script>


<script src="static/js/scripts.js"></script>

<script src="static/vendor/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
<script src="static/vendor/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>

<script src="static/js/scripts-consulting.js"></script>

<script src="static/js/custom.js"></script>

<script src="static/js/scripts.init.js"></script>


</body>

</html>